spring:
    datasource:
        url: ${DB_URL}
        username: ${DB_USER}
        password: ${DB_PASSWORD}

    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                format_sql: true
    mail:
        host: smtp.gmail.com
        port: 587
        username: dhwlsgur795@khu.ac.kr  # 본인 Gmail 주소로 변경!
        password: sjsj uqev gxqt hutf   # 앱 비밀번호 16자리 (공백 포함)
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
                        required: true
                    connectiontimeout: 5000
                    timeout: 5000
                    writetimeout: 5000
