spring:
    datasource:
        url: ${DB_URL}
        username: ${DB_USER}
        password: ${DB_PASSWORD}

    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                format_sql: true
    mail:
        host: smtp.gmail.com
        port: 587
        username: ${MAIL_USERNAME}  # 노션에 이 부분 적어뒀습니다.
        password: ${MAIL_PASSWORD}
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
                        required: true
                    connectiontimeout: 5000
                    timeout: 5000
                    writetimeout: 5000

python:
    crawling:
        base-url: ${PYTHON_SERVER_URL:http://localhost:8000}

jwt:
    secret: ${JWT_SECRET}
    expiration_time: 3600000
