spring:
    datasource:
        url: ${DB_URL}
        username: ${DB_USER}
        password: ${DB_PASSWORD}

    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                format_sql: true
    mail:
        host: smtp.gmail.com
        port: 587
        username: ${MAIL_USERNAME}  # 개발자 이메일 주소
        password: ${MAIL_PASSWORD}   # 앱 비밀번호 16자리 (공백 포함)
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
                        required: true
                    connectiontimeout: 5000
                    timeout: 5000
                    writetimeout: 5000

python:
    crawling:
        base-url: ${PYTHON_SERVER_URL:http://localhost:8000}
